<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Treino/css/estilo.css" rel="stylesheet">
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    --> 
    <title>Blog</title>
</head>
<body ng-app="blog">
    <div class="pagina">
    <div class="inicial">
    <h1>Mundo Cinema</h1>
    <a href="sobre.html">Sobre</a>
    <a href="lançamento.html">Lançamentos</a>
    <a href="ranking.html">ranking</a>
    <a href="critica.html">críticas</a>
</div>
</div>


   
    <div class="card">
        <ul>
            <li><img src="/Treino/img/marvels.jpg" alt="">
            <article>Carol Danvers, vulgo Capitã Marvel, recuperou sua identidade da tirania dos Kree e se vingou da Inteligência Suprema.
                 No entanto, consequências não intencionais fazem com que Carol assuma o fardo de um universo desestabilizado. Quando suas obrigações levam Carol até uma fenda espacial anômala ligada a um revolucionário Kree, seus poderes se entrelaçam aos de Kamala Khan, uma super fã de Jersey City, vulgo Ms. Marvel, e aos da sobrinha de Carol, atual astronauta da S.A.B.E.R., a Capitã Monica Rambeau. Juntas,
                 esse trio improvável precisará se unir e aprender a trabalhar em conjunto para salvar o universo como "As Marvels".</article></li>
            <li><img src="/Treino/img/Ó_Paí,_Ó.jpg" alt="">
              <article> Em um animado cortiço do centro histórico do Pelourinho, em Salvador, tudo é compartilhado pelos seus moradores, especialmente a paixão pelo Carnaval 
                e a antipatia pela síndica do prédio, Dona Joana. Todos tentam encontrar um lugar nos últimos dias do Carnaval, seja trabalhando ou brincando.
                 Incomodada com a farra dos condôminos, Dona Joana decide puní-los, cortando o fornecimento de água do prédio.</article>  </li>
            <li><img src="/Treino/img/jogos.jpg" alt="">
            <article>Na região antigamente conhecida como América do Norte, a Capital de Panem controla 12 distritos e os força a escolher um garoto e uma garota,
                 conhecidos como tributos, para competir em um evento anual televisionado. Todos os cidadãos assistem aos temidos jogos, no qual os jovens lutam até a morte, de modo que apenas um saia vitorioso. A jovem Katniss Everdeen, do Distrito 12,
                  confia na habilidade de caça e na destreza com o arco, além dos instintos aguçados, nesta competição mortal.
            </article></li>
            
        </ul>
     </div>

     <footer>
        <div class="rodape">
        <ul>
          <h1>Social Media:</h1>
          <li><a href="#"><img src="../img/1499955335whatsapp-icon-logo-png.png" alt=""></a></li>
          <li><a href="#"><img src="../img/instagram.jfif" alt=""></a></li>
          <li><a href="#"><img src="../img/youtube.png" alt=""></a></li>
          </ul>
      </div>
    </footer>

</body>
</html>