<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Treino/css/estilo.css" rel="stylesheet">
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    --> 
    <title>Blog</title>
</head>
<body ng-app="blog">
    <div class="pagina">
    <div class="inicial">
    <h1>Mundo Cinema</h1>
    
    <a href="critica.html">críticas</a>
</div>
</div>
<div id="Novocard1">
    <h1> 
        Com ares de comédias e momentos de drama, "Ó Paí, Ó" chega com uma proposta meio indefinida e assim permanece durante todo o seu desenrolar.</h1>
        
      <article>   Pedras são praticamente atiradas em quem ousa citar "cinema brasileiro" como uma categoria à parte. Pessoalmente, sempre achei a prática envolta em uma visão preconceituosa do nosso povo em relação à nossa própria arte. No entanto, as produções nacionais que vêm chegando às nossas telonas parecem cada vez mais contribuir para essa visão. A cada filme brasileiro, independente de seu gênero específico, são raros os que não parecem seguir um padrão e o que vemos é uma espécie de unificação brasileira da sétima arte em uma única coisa.
        
        "Ó, Paí, Ó", infelizmente, não chega inovando em nenhum aspecto. Por vezes, no decorrer da projeção, nos perguntamos se não estamos vendo cenas de outros longas nacionais como "Cidade de Deus" ou "Cidade Baixa". Até mesmo a escalação do elenco parece nunca mudar: aqui, novamente e de forma alguma ineditamente, vemos Lázaro Ramos, Wagner Moura e Dira Paes entre as figurinhas carimbadas do nosso cinema. Nesse caso específico, porém, não é apenas a padronização incômoda que arrasta o filme em direção a um resultado insatisfatório. Com um roteiro aparentemente desprovido de um fio condutor, "Ó, Paí, Ó" se perde, faz rodeios e acaba nos levando a canto nenhum.
        
        A suposta trama consiste basicamente em nos apresentar personagens inicialmente ordinários, moradores de um cortiço em um bairro central de Salvador. A partir daí, a vida de cada um vai se desenrolando durante o carnaval, trazendo seus conflitos, embates e peculiaridades à tona. Roque é um aspirante a cantor, Boca é o estereótipo de marginal, Psilene acabou de chegar do exterior ainda deslumbrada com outro padrão de vida, Dona Joana é uma evangélica que nem imagina que seus inocentes filhinhos passam o dia aplicando golpes por aí, Rosa se esconde atrás do ar de suposta inocência. Enfim, todos, apesar de diferentes, vivem uma mesma realidade, mostrada de forma intencionalmente realista.
        
        Apesar da idéia ter potencial para um bom andamento – geralmente tramas que envolvem personagens diferentes cujas vidas se entrelaçam possuem ferramentas para se tornar muito interessantes – em "Ó, Paí, Ó" isso não é exatamente o que acontece. Na verdade, o que falta ao filme é basicamente uma "evolução", tendo em vista que a trama parece ficar constantemente marcando passo para ter um desfecho repentino, como se pulasse o desenvolvimento. Não que um roteiro precise seguir necessariamente um fórmula pré-estabelecida para se desenvolver, mas, dentro das variantes possíveis neste conceito, "Ó, Paí, Ó" não apresenta nenhuma vertente.
        
        No mais, o que vemos é uma ode à nossa pluralidade e riqueza cultural, representadas aqui pelo heterogêneo estado da Bahia e nisso sim o filme mostra competência. Destaque para um dos mais marcantes diálogos do longa, entre os personagens de Wagner Moura e Lázaro Ramos, que discutem sobre a questão racial. Uma das passagens realmente destacáveis que mantém um pique invejável e um desfecho ao mesmo tempo inesperado e banalmente interessante. A seqüência final também merece elogios, mesclando tomadas do povo em pleno carnaval e uma cena trágica envolvendo um dos personagens centrais.
        
        Para não dizer que nenhum aspecto técnico merece destaque, cito a fotografia competente e a trilha sonora repleta de ritmos baianos (leia-se batidas afro), que conseguem envolver até mesmo os que não são muito fãs do gênero. Além disso, a música de Caetano Veloso que inspirou o título do longa se faz constantemente presente, trazendo para a boca dos personagens a expressão "Ó, Paí, Ó", que significa algo como "olha isso aqui".
        
        Como resultado final, apesar da antipatia quase generalizada pelo termo, temos aí mais um exemplo de "filme brasileiro". Com erros relevantes e alguns acertos destacáveis, resta ao espectador decidir se "Ó, Paí, Ó" merece uma chance.
    </article>
  </div>
<!--Gurumeoficia@l-->

<footer> 
    <div class="rodape">
    <ul>
      <h1>Social Media:</h1>
      <li><a href="#"><img src="../img/1499955335whatsapp-icon-logo-png.png" alt=""></a></li>
      <li><a href="#"><img src="../img/instagram.jfif" alt=""></a></li>
      <li><a href="#"><img src="../img/youtube.png" alt=""></a></li>
      </ul>
  </div>
</footer>




</body>
</html>