<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Treino/css/estilo.css" rel="stylesheet">
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    --> 
    <title>Blog</title>
</head>
<body ng-app="blog">
    <div class="pagina">
    <div class="inicial">
    <h1>Mundo Cinema</h1>
    <a href="critica.html" >críticas</a>
</div>
</div>
<div id="Novocard1">
  <article>
    Em 2023, a Marvel lançou nos cinemas um grande sucesso, Guardiões da Galáxia Vol. 3, e um retumbante fracasso, Homem-Formiga e a Vespa: Quantumania. Na reta final do ano, a expectativa é de que As Marvels chegasse para desempatar esse jogo – para o bem ou para o mal. Nesta equação milionária, entra a boa química entre as protagonistas, o destaque de uma potencial nova estrela do estúdio versus uma história que tem muito pouco a oferecer e que se apoia demais em notas de rodapé. 

Em As Marvels, Brie Larson retorna ao papel de Capitã Marvel para solucionar um problema antigo trazido por fendas espaciais que estão ameaçando o universo. O principal ponto aqui é que ela ganha nova companhia quando descobre que um fenômeno ainda desconhecido fez com que seus poderes se entrelaçassem com os de outras duas heroínas, com quem, a partir daí, precisa aprender a trabalhar em conjunto.

A primeira que vemos em cena é a adolescente Kamala Khan (Iman Vellani): com o codinome Miss Marvel, a personagem estreou no Universo Cinematográfico da Marvel com sua própria série em 2022 é a fã número 1 da Capitã. Depois, surge Monica Rambeau (Teyonah Parris), filha de Maria Rambeau (Lashana Lynch), grande parceira que Carol Danvers perdeu. Detalhe importante: Monica e Carol não se falam há anos e, agora, a cientista também tem superpoderes que surgiram em sua participação na série Wandavision.
  </article>
</div>
<!--Gurumeoficia@l-->

<footer> 
    <div class="rodape">
    <ul>
      <h1>Social Media:</h1>
      <li><a href="#"><img src="../img/1499955335whatsapp-icon-logo-png.png" alt=""></a></li>
      <li><a href="#"><img src="../img/instagram.jfif" alt=""></a></li>
      <li><a href="#"><img src="../img/youtube.png" alt=""></a></li>
      </ul>
  </div>
</footer>




</body>
</html>