<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Treino/css/estilo.css" rel="stylesheet">
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    --> 
    <title>Blog</title>
</head>
<body ng-app="blog">
    <div class="pagina">
    <div class="inicial">
    <h1>Mundo Cinema</h1>
    <a href="sobre.html">Sobre</a>
    <a href="lançamento.html">Lançamentos</a>
    <a href="ranking.html">ranking</a>
    <a href="critica.html">críticas</a>
</div>
</div>
<div id="Novocard1">
    <article>
        Em Cantiga dos Pássaros e das Serpentes, a distopia de Suzanne Collins retorna mais de 60 anos atrás para contar a história de origem de Coriolanus Snow, o Presidente da futura Panem de Katniss Everdeen e o vilão da saga principal de Jogos Vorazes.

        Antes de ser a figura temível que intimida tributos, idealizadores, mentores e distritos na franquia principal, conhecemos um jovem ambicioso e observador de olho no maior prêmio que pode reestabelecer o nome e a glória dos Snows.
        
        Conferimos o longa no fim de semana e temos a nossa crítica para mais esse capítulo da saga.
        
        
        Publicada em 2020 por Suzanne, Cantiga dos Pássaros e das Serpentes ganhou a promessa de uma adaptação não muito tempo depois disso – feito incrível para uma saga do gênero Y&A (Jovem Adulto) e tão mais àquem do que as distopias dos dias de hoje conseguem ir.
        
        A direção é de Francis Lawrence, que dirigiu todos os outros filmes anteriores, com exceção do primeiro. No elenco, Rachel Zegler (Amor, Sublime Amor) e Tom Blyth (Billy The Kid) são os destaques principais do filme.
        
        Quando era só uma criança, Snow e sua prima Tigris (Hunter Schafer) viveram para ver a guerra civil entre os distritos e passaram fome ao longo dos anos. Para se afastar desses anos sombrios, Snow então decide ser um dos melhores estudantes da capital e ganhar um prêmio que garanta o seu futuro e da sua família.
        
        Porém as regras da academia mudam e apenas será dado o prêmio a quem ser o mentor de um dos tributos dos Jogos Vorazes, que vem perdendo a credibilidade a cada nova edição. É aí que o caminho de Snow cruza com o de Lucy Gray, uma jovem do distrito mais pobre diferente de qualquer pessoa que ele conheceu.
        
        
        Sem cerimônias nenhuma o filme acerta em aspectos além da adaptação com uma trama que sabe preservar a crítica social presente nos outros longas da saga. Ao mesmo tempo, traz um quê de novidade repassando o ponto de vista para um novo personagens e abraçando uma estética mais clássica. São trocadas as grandes arenas por espaços mais pedrosos e acabados, o apresentador caricato da televisão por um locutor cheio de piadas irônicas e afiadas.
        
        A trajetória do “herói” também muda. Agora seguimos Snow pelos habitantes inescrupulosos e indiferentes da capital (salvo alguns exemplos), os idealizadores e de certa forma quem mexe os pauzinhos nos bastidores dos famigerados jogos que tanto conhecemos. Enquanto o Snow Coriolanus da saga principal questiona Seneca sobre os jogos, aqui ele é questionado diversas vezes fazendo esse paralelo com o personagem que há de se tornar quem todos conhecemos. Para fazer isso, o roteiro é rico em se apoiar na obra, mas também em montar as cenas e as três partes nas quais é dividido. Fui alertado sobre uma pressa para contar o prefácio da história, mas não fiquei nada incomodado com o desfecho da produção, muito menos com o mistério em aberto que é condizente com a obra.
        
        As atuações estão cada uma em seu lugar, saindo das sombras para se destacar em subtramas, se movendo como cobras sorrateiras nas paredes, cantando e pincelando as cenas e emoções das personagens que possuem o mesmo instinto de sobrevivência, mas em contextos que não poderiam ser mais distintos. A ressalva especial vai para a EGOT Viola Davis que abraça a estranheza da Dr. Volumnia Gaul com sua risada medonha e seus gestos e alegrias peculiares com o andamento e sucesso do sádico Jogos Vorazes. A tão criticada Zegler arrepia não só com sua voz que faz jus a outros de seus projetos como arrepia por ressoar com a grandeza que a franquia significa para nós, por conter esse DNA tão preciso que a esperança de tantos anos futuros irá ressurgir no espírito de cada rebelde.
        
        
        Em questão de suspense, enredo, drama, Cantiga talvez seja uma das peças mais bem competentes em se desgarrar daquele clichê romântico que apesar de nunca ter sido um obstáculo nos filmes anteriores aqui é elevado em uma trama mais série, cheia de riscos e histórias entrelaçadas que soam tão inesquecíveis quanto qualquer épico. A vontade de rever o filme bate comigo agora enquanto escrevo essa crítica apenas algumas horas separadas quando o terminei de assistir essa tarde.
        
        Dava para ser inteligente e dizer que da forma como Snow torna os jogos mais atraentes para o povo da Capital, a direção de Lawrence transforma o filme em algo com o qual podemos nos importar. E que sorte danada a do diretor de pegar uma história que nos sacode a sobriedade com aquela violência que aparece na tela como um tapa na cara inesperado, ao mesmo tempo un retrato falado da humanidade e sociedade que seriam dessa exata forma se vivessemos e fossemos apartados como a Panem de Collins.
        
        
        Jogos Vorazes: A Cantiga dos Pássaros e das Serpentes pode não ser um sucesso de bilhões de dólares ou reais, mas só de quebrar essa maldição que faz os filmes derivados tentarem se aproveitar de um grande nome para fazer sucesso já é um ato muito marcante por si só.
    </article>
  </div>
<!--Gurumeoficia@l-->

<footer> 
    <div class="rodape">
    <ul>
      <h1>Social Media:</h1>
      <li><a href="#"><img src="../img/1499955335whatsapp-icon-logo-png.png" alt=""></a></li>
      <li><a href="#"><img src="../img/instagram.jfif" alt=""></a></li>
      <li><a href="#"><img src="../img/youtube.png" alt=""></a></li>
      </ul>
  </div>
</footer>




</body>
</html>