<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Treino/css/estilo.css" rel="stylesheet">
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    -->
    <title>Blog</title>
</head>

<body ng-app="blog">
    <div class="pagina">
        <div class="inicial">
            <h1>Mundo Cinema</h1>
            <a href="sobre.html">Sobre</a>
            <a href="lançamento.html">Lançamentos</a>
            <a href="ranking.html">ranking</a>
            <a href="critica.html">críticas</a>


        </div>
    </div>
    <div class="texto01">
        <h1>Bem-vindo ao Mundo Cinema!

            Somos apaixonados por cinema e este espaço foi criado para compartilhar essa paixão com você. Aqui,
            exploramos o vasto universo cinematográfico, desde clássicos até as mais recentes produções, mergulhando em
            análises, críticas, curiosidades e tudo o que envolve a sétima arte.

            Nosso objetivo é proporcionar uma experiência cinematográfica única, compartilhando conhecimento, opiniões e
            informações relevantes sobre filmes de diversos gêneros e épocas. Acreditamos que o cinema é uma forma
            poderosa de expressão e entretenimento, capaz de nos transportar para diferentes mundos, despertar emoções e
            provocar reflexões.

            Além disso, queremos criar uma comunidade de amantes do cinema, onde todos são bem-vindos para trocar
            ideias, recomendações e descobrir novas obras que possam ampliar o nosso olhar sobre o mundo do cinema.

            Junte-se a nós nessa jornada cinematográfica e vamos explorar juntos o fascinante universo das telonas!

            Obrigado por fazer parte dessa experiência!

            Equipe Mundo Cinema</h1>
    </div>

    <footer>
        <div class="rodape">
        <ul>
          <h1>Social Media:</h1>
          <li><a href="#"><img src="../img/1499955335whatsapp-icon-logo-png.png" alt=""></a></li>
          <li><a href="#"><img src="../img/instagram.jfif" alt=""></a></li>
          <li><a href="#"><img src="../img/youtube.png" alt=""></a></li>
          </ul>
      </div>
    </footer>

</body>

</html>